.r1{
  width: 400px;
}
.r2{
  background-color: aqua;
  padding: 200px;
}
.l1{
  width: 400px;
}
.l2{
  background-color: aquamarine;
  padding: 300px;
}
.h1{
 
  margin-left: 800px;
 margin-top: -400px;
}
.h2{
  width: 700px;
  height: 500px;
}